<div ngbDropdown class="d-inline-block" id="dropdownBasic">
  <button id="dropdownBtn" class="btn btn-outline-primary" ngbDropdownToggle>
    {{ userFullName }}
    <i style="margin-left: 10px">
      <fa-icon [icon]="faUser"></fa-icon>
    </i>
  </button>
  <div ngbDropdownMenu>
    <button (click)="onLogOutClick()" ngbDropdownItem>Log Out</button>
    <button (click)="viewUserAssignedToMe()" ngbDropdownItem>
      Employee Assigned to me
    </button>
    <ng-template [ngIf]="isAdmin">
      <button (click)="onUserClick()" ngbDropdownItem>Users</button>
      <button (click)="onReviewClick()" ngbDropdownItem>Reviews</button>
    </ng-template>
  </div>
</div>
